@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://unpkg.com/leaflet@1.9.4/dist/leaflet.css');


@font-face {
  font-family: 'Gilroy';
  src: url('/fonts/Gilroy-ExtraBold.otf') format('opentype');
  font-style: normal;
}


